body {
    background-color: #ffe3a1c5;
    /* cursor: url('./images/cuchara-32px.png'), auto;	 */
    /* background: rgb(230,162,18);
    background: linear-gradient(90deg, rgba(230,162,18,1) 0%, rgba(16,223,226,1) 91%, rgba(34,193,195,1) 100%); */
}

.button-cookie {
    background-color: #8f4700 !important;
    border: 2px solid #6b3600 !important;
}

.button-cookie:hover {
    background-color: #a05000 !important;
    border: 2px solid #7c3e00 !important;
}

.button.is-success.is-focused:not(:active), .button.is-success:focus:not(:active) {
    box-shadow: 0 0 0 0 rgb(72 199 142 / 25%);
}

.helado {
    transition: all 0.1s ease-in-out;
    position: relative;
    width: 40%;
    bottom: -28%;
}

.fondo-helado {
    background-image: url(./images/rectangulo.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500%;
}

@media only screen and (min-width: 1900px) {
    .fondo-helado {
        background-image: url(./images/rectangulo.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 300%;
    }
  }

.helado:hover {
    cursor: pointer;
    transform: scale(1.07);
}

.center {
    text-align: center;
}

.margenes {
    margin-top: 0%;
}

.margenes-helado {
    margin-top: 10%;
    margin-left: -5%;
}

.helado:active {
    opacity: 0.95;
    transform: scale(0.93);
}

.puesto-de-helados {
    margin-top: -35px;
}

.principal {
    margin-top: 50px;
}

.inicio {
    margin-top: 50px;
}

.div-edificios {
    margin-bottom: 0px;
}

.block {
    display: block;
}

.publicidad {
    margin-top: -200px;
    margin-right: -50px;
    margin-left: 50px;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.helado-icon {
    height: 20px !important;
    width: 14px !important;
}



.imagen-diario {
    width: 51%;
}

.shop-button {
    /* background-image: url(./images/fondo-boton.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%; */
    /* background: rgb(240,225,89);
    background: radial-gradient(circle, rgba(240,225,89,1) 0%, rgba(240,89,89,1) 100%);
    border: 4px solid #f73d3d; */

    /* background: rgb(253,202,204);
    background: radial-gradient(circle, rgba(253,202,204,1) 0%, rgba(252,145,148,1) 100%); */
    background: rgb(252,145,148);
    background: radial-gradient(circle, rgba(252,145,148,1) 0%, rgba(253,202,204,1) 100%);
    border: 4px solid rgb(252,145,148);

    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    width: 95%;
    margin: 10px 0px 10px 0px;
    border-collapse: separate;
}

.shop-button:hover {
    opacity: 0.93;
    cursor: pointer;
    transform: scale(1.05);
}

.shop-button:active {
    opacity: 0.93;
    cursor: pointer;
    transform: scale(0.95);
}

.shop-button #image {
    width: 25%;
}

.shop-button img{
    height: 64px;
    width: 64px;
    top: 5px;
}

.shop-button #name-and-cost p{
    margin: 0px;
    width: 85%;
    font-family: 'Fredoka One', cursive;
    color: #2e2e2e; 
    /* font-weight:bold; */
}

.shop-button #name-and-cost p:first-of-type {
    font-size: 20px;
    color: #2e2e2e;
}

.shop-button #amount {
    font-size: 48px;
    color: #2e2e2e;
    width: 10%;
}



@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 8s linear infinite;
    -moz-animation: rotating 8s linear infinite;
    -ms-animation: rotating 8s linear infinite;
    -o-animation: rotating 8s linear infinite;
    animation: rotating 8s linear infinite;
  }

  .footer {
    background: none;
    height: 1vh;
  }

  .navbar {
      background: none !important;
  }

  .borde-mejora {
    border: 2px solid black;
    height: 64px;
    width: 64px;
    background-color: #d060ec;
    display: inline-block;
    margin-right: -2px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .borde-mejora:hover {
      transform: scale(1.05);
      opacity: 0.93;
  }

  .borde-mejora:active {
    opacity: 0.93;
    transform: scale(0.95);
  }

  .borde-mejora2 {
    border: 2px solid black;
    height: 64px;
    width: 64px;
    background-color: #fff01f;
    display: inline-block;
    margin-right: -2px;
    cursor: pointer;
  }


  .borde-mejora img {
    height: 60px;
    width: 60px;
  }

.borde-columna-1-1 {
    border-right:15px solid #F0B659;
    border-bottom:15px solid #F0B659;
    border-top:15px solid #F0B659;
    font-family: 'Fredoka One', cursive;
    
}

.borde-columna-1-2 {
    border-bottom:15px solid #F0B659;
    border-top:15px solid #F0B659;
}

.borde-columna-1-3 {
    border-left: 15px solid #F0B659;
    border-bottom:15px solid #F0B659;
    border-top: 15px solid #F0B659;
}

.borde-columna-2-1 {
    border-right: 15px solid #F0B659;
    border-bottom: 15px solid #F0B659;
    height: 76vh;
}

.borde-columna-2-2 {
    border-bottom: 15px solid #F0B659;
    height: 76vh;
}

.borde-columna-2-3 {
    border-left: 15px solid #F0B659;
    border-bottom: 15px solid #F0B659;
    overflow: auto;
    height: 76vh;
}

@media only screen and (max-width: 769px) {
    .borde-columna-1-1 {
        border: none;
        border-bottom: 10px solid #F0B659;
    }
    .borde-columna-1-2 {
        border: none;
        border-bottom: 10px solid #F0B659;
    }
    .borde-columna-1-3 {
        border: none;
        border-bottom: 10px solid #F0B659;
    }
    .borde-columna-2-1 {
        border: none;
        border-bottom: 10px solid #F0B659;
    }
    .borde-columna-2-2 {
        border: none;
        border-bottom: 10px solid #F0B659;
    }
    .borde-columna-2-3 {
        border: none;
        border-bottom: 10px solid #F0B659;
    }
  }

.hidden {
    display: none;
}

.visible {
    display: inline-block;
}

/* Tooltip container */
.tooltippp {
    position: relative;
}

.tooltippp .top {
    min-width:300px; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#000000;
    background-color:#FF99FF;
    font-weight:bold;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    border:1px solid #FF66FF;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltippp:hover .top {
    display:block;
}

.tooltippp .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltippp .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#FF99FF;
    border:1px solid #FF66FF;box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.tooltippp .bottom {
    min-width:300px; 
    top:12%;
    left:60%;
    transform:translate(-58%, 117%);
    padding:10px 20px;
    color:#000000;
    background-color:#FF99FF;
    font-weight:bold;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    border:1px solid #FF66FF;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltippp:hover .bottom {
    display:block;
}

.tooltippp .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltippp .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#FF99FF;
    border:1px solid #FF66FF;box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.tooltip-mejoras {
    position:relative;
    text-align: left;
}

.tooltip-mejoras .left {
    min-width:300px; 
    top:50%;
    right:100%;
    margin-right:20px;
    transform:translate(0, -50%);
    padding:10px 20px;
    color:#000000;
    background-color:#FF99FF;
    font-weight:bold;
    font-size:15px;
    border-radius:8px;
    position:absolute;
    z-index:9999999;
    box-sizing:border-box;
    border:1px solid #FF66FF;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip-mejoras:hover .left {
    display:block;
}

.tooltip-mejoras .left i {
    position:absolute;
    top:50%;
    left:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip-mejoras .left i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
    background-color:#FF99FF;
    border:1px solid #FF66FF;box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.visible-notificacion-compra {
    width: 40%;
    position: absolute;
    z-index: 2;
    margin-top: 4.5%;
    margin-left: 30%;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.visible-notificacion-guardado {
    width: 30%;
    position: absolute;
    z-index: 2;
    margin-top: 4.5%;
    margin-left: 35%;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.hidden-notificacion {
    display: none;
}

.titulo-helado {
    color: #fc777b;
}

.pops
{
	position:absolute;
	left:0px;
	top:0px;
	z-index:10000;
	pointer-events:none;
    transition: linear;
    animation: pops 1.4s linear;
    animation-iteration-count:infinite;
}

@media only screen and (max-width: 769px) {
    .pops {
        animation: pops-celular 1.4s linear;
        animation-iteration-count:infinite;
    }

    .button {
        display: block;
        margin-bottom: 2%;
        margin-left: 30%;
    }

    .borde-columna-2-2 {
        height: auto;
    }
  }


.pop
{
	font-weight:bold;
	color: #fff;
	width:200px;
	height:20px;
	font-size:24px;
	text-align:center;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-family: 'Fredoka One', cursive;
}

@-webkit-keyframes pops /* Safari and Chrome */ {
    from {
      -webkit-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
    }
    to {
      -webkit-transform: translateY(-100px);
      -o-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }
  @keyframes pops {
    from {
      -ms-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 1;
    }
    to {
      -ms-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -webkit-transform: translateY(-100px);
      -o-transform: translateY(-100px);
      transform: translateY(-125px);
      opacity: 0;
    }
}

@-webkit-keyframes pops-celular /* Safari and Chrome */ {
    from {
      -webkit-transform: translateY(120px);
      -o-transform: translateY(120px);
      transform: translateY(120px);
    }
    to {
      -webkit-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  @keyframes pops-celular {
    from {
      -ms-transform: translateY(120px);
      -moz-transform: translateY(120px);
      -webkit-transform: translateY(120px);
      -o-transform: translateY(120px);
      transform: translateY(120px);
      opacity: 1;
    }
    to {
      -ms-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 0;
    }
}